In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("IRIS.csv")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder,PolynomialFeatures
from sklearn.model_selection import train_test_split

In [8]:
X=df.iloc[:,0:4]
y=df.iloc[:,[4]]
oe=OneHotEncoder()
oe.fit(y)
y=oe.transform(y).toarray()
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [41]:
ss=StandardScaler()
pf=PolynomialFeatures(degree=3)
X_train=pf.fit_transform(X_train)
X_test=pf.transform(X_test)
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [42]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import CategoricalCrossentropy
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import Accuracy

In [43]:
model=Sequential()
model.add(Dense(10,activation='relu',kernel_initializer="random_normal"))
model.add(Dense(5,activation='relu',kernel_initializer="random_normal"))
model.add(Dense(3,activation='softmax'))

In [44]:
model.compile(loss=CategoricalCrossentropy(),metrics=['accuracy'],optimizer=Adam())

In [45]:
model.fit(X_train,y_train,epochs=30)

Epoch 1/30
4/4 [==============================] - 0s 2ms/step - loss: 1.0609 - accuracy: 0.5917
Epoch 2/30
4/4 [==============================] - 0s 2ms/step - loss: 0.9734 - accuracy: 0.8167
Epoch 3/30
4/4 [==============================] - 0s 2ms/step - loss: 0.8778 - accuracy: 0.9000
Epoch 4/30
4/4 [==============================] - 0s 2ms/step - loss: 0.7799 - accuracy: 0.9083
Epoch 5/30
4/4 [==============================] - 0s 2ms/step - loss: 0.6965 - accuracy: 0.9167
Epoch 6/30
4/4 [==============================] - 0s 2ms/step - loss: 0.6235 - accuracy: 0.9250
Epoch 7/30
4/4 [==============================] - 0s 2ms/step - loss: 0.5621 - accuracy: 0.9250
Epoch 8/30
4/4 [==============================] - 0s 2ms/step - loss: 0.5101 - accuracy: 0.9333
Epoch 9/30
4/4 [==============================] - 0s 2ms/step - loss: 0.4615 - accuracy: 0.9333
Epoch 10/30
4/4 [==============================] - 0s 2ms/step - loss: 0.4173 - accuracy: 0.9500
Epoch 11/30
4/4 [==============================] - 0s 2ms/step - loss: 0.3759 - accuracy: 0.9500
Epoch 12/30
4/4 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.9500
Epoch 13/30
4/4 [==============================] - 0s 2ms/step - loss: 0.3023 - accuracy: 0.9500
Epoch 14/30
4/4 [==============================] - 0s 2ms/step - loss: 0.2697 - accuracy: 0.9500
Epoch 15/30
4/4 [==============================] - 0s 2ms/step - loss: 0.2421 - accuracy: 0.9500
Epoch 16/30
4/4 [==============================] - 0s 2ms/step - loss: 0.2167 - accuracy: 0.9500
Epoch 17/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1961 - accuracy: 0.9583
Epoch 18/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1787 - accuracy: 0.9583
Epoch 19/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1632 - accuracy: 0.9667
Epoch 20/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1501 - accuracy: 0.9667
Epoch 21/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1382 - accuracy: 0.9750
Epoch 22/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1282 - accuracy: 0.9833
Epoch 23/30
4/4 [==============================] - 0s 1ms/step - loss: 0.1195 - accuracy: 0.9833
Epoch 24/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1122 - accuracy: 0.9833
Epoch 25/30
4/4 [==============================] - 0s 1ms/step - loss: 0.1052 - accuracy: 0.9833
Epoch 26/30
4/4 [==============================] - 0s 2ms/step - loss: 0.1000 - accuracy: 0.9833
Epoch 27/30
4/4 [==============================] - 0s 2ms/step - loss: 0.0946 - accuracy: 0.9833
Epoch 28/30
4/4 [==============================] - 0s 2ms/step - loss: 0.0890 - accuracy: 0.9833
Epoch 29/30
4/4 [==============================] - 0s 2ms/step - loss: 0.0851 - accuracy: 0.9833
Epoch 30/30
4/4 [==============================] - 0s 2ms/step - loss: 0.0813 - accuracy: 0.9833

In [46]:
y_pred=np.array(model.predict(X_test))

In [47]:
model.evaluate(X_test,y_test)

1/1 [==============================] - 0s 135ms/step - loss: 0.1845 - accuracy: 0.9000

[0.18453684449195862, 0.8999999761581421]

In [23]:
ma=y_pred.max(axis=1)

In [24]:
y_pred.argmax(axis=1)

array([2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2,
       0, 2, 2, 1, 2, 2, 2, 0], dtype=int64)

In [25]:
y_test.argmax(axis=1)

array([1, 2, 0, 0, 2, 2, 2, 1, 2, 0, 0, 0, 1, 2, 2, 1, 1, 1, 2, 0, 0, 1,
       0, 1, 1, 1, 2, 2, 2, 0], dtype=int64)

# Accuracy achieved=90 percent